In [88]:
import re

In [1]:
import pandas as pd

In [41]:
filepath = 'raw_data/paragraph_2.txt'
df = pd.read_csv(filepath, delimiter = '\t', header = None)
df.columns = ['Text']
df

                                                Text
0  When Jackie Chan saw an Oscar at Sylvester Sta...
1  On Saturday at the annual Governors Awards, th...
2  After 56 years in the film industry, making mo...
3  The actor recalled watching the ceremony with ...
4  He praised his hometown Hong Kong for making h...
5  The actor was introduced by his "Rush Hour" co...
6  Hanks said it was especially gratifying to be ...
7  The Academy of Motion Pictures Arts and Scienc...
8  The evening was attended by Hollywood's elite,...
9  Stalmaster, 88, credited with securing career-...

In [84]:
sentence_count = 0
sentence = []
word_count  = 0 
character_count = 0
for i in df.Text: 
    sentence_count = sentence_count + 1
#     sentence = df.Text[i].split()
    for j in i: 
        character_count = character_count + 1

In [85]:
sentence_count

10

In [87]:
character_count

1769

In [72]:
len(df.Text[0].split())

24

In [89]:


re.split('[?.!]+', df.Text[0])

["When Jackie Chan saw an Oscar at Sylvester Stallone's house 23 years ago, he said that was the moment he decided he wanted one",
 '']

In [ ]:
#need to use itterows in order to iterate by rows!!! That's why the code didn't work the first time